
:root {
    --template-item1-darker-background: #c5e8ed;
    --template-item1-lighter-background: #ebfffd;
    --template-item1-font-accent: rgb(1, 148, 148);

    
  }

.template-item1{
    background-color:white;
    height: 100%;
    padding-top: 1px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 200;
}


.template-item1 .table{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
    line-height: 180%;
    padding: 30px;
    padding-bottom: 10px;
}


.template-item1 table td{
    min-width: 50px;
    padding: 5px 2px;
    max-width: 300px;;
}

.template-item1 header{
    margin-top: 20px;
    margin-right: 15px;
    padding: 5px 30px;
    padding-top: 30px;
    border-radius: 0 35px 35px 0;
    border-bottom: 3px solid lightseagreen;
    background-color: var(--template-item1-darker-background);
    line-height: 150%;
}

.template-item1 h1{
    font-size: 26px;
    color: var(--template-item1-font-accent);
    margin: 0;
}

.template-item1 h2{
    font-size: 16px;
    margin: 0;
    color: white;
}

.template-item1 h3{
    border-left: 7px solid lightseagreen;
    padding-left:5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 900;
    font-size: 14px;
}

.template-item1 .table-left-col{
    padding: 10px 0px;
}

.template-item1 .table-right-col{
    background-color: var(--template-item1-lighter-background);
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 15px;
    max-width: 200px;
}

.template-item1 .personal-data-item-external{
    padding: 30px;
    padding-top: 0;
    font-size: 12px;
}

.dates-range{
    color: var(--template-item1-font-accent);
    white-space: nowrap;
}

.single-project{
    padding-bottom: 10px;
}

.project-title{
    font-weight: bold;
    font-size: 14px;
    color: var(--template-item1-font-accent);
}

.project-description{
    font-style: italic;
}



.template-item2{

    height: 100%;
}

.template-item3{

    height: 100%;
}

.template-item4{

    height: 100%;
}

