
:root {
    --template-item1-darker-background: #c5e8ed;
    --template-item1-lighter-background: #ebfffd;
    --template-item1-font-accent: rgb(1, 148, 148);

    --template-item2-darker-background: #000;
    --template-item2-font-accent: rgb(2, 150, 248);
    
  }

.template-item1 .template-background{
    height: 100%;
    width: 100%;
    padding-top: 0.1px;
    z-index: -1;
    position: fixed;  
}

.template-item1{
    height: 100%;
    padding-top: 1px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 200;
}


.template-item1 .table{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
    line-height: 180%;
    padding: 30px;
    padding-bottom: 10px;
}


.template-item1 table td{
    min-width: 50px;
    padding: 5px 2px;
    max-width: 300px;
}

.template-item1 header{
    margin-top: 20px;
    margin-right: 15px;
    padding: 5px 30px;
    padding-top: 30px;
    border-radius: 0 35px 35px 0;
    border-bottom: 3px solid lightseagreen;
    background-color: var(--template-item1-darker-background);
    line-height: 150%;
}

.template-item1 h1{
    font-size: 26px;
    color: var(--template-item1-font-accent);
    margin: 0;
}

.template-item1 h2{
    font-size: 16px;
    margin: 0;
    color: white;
}

.template-item1 h3{
    border-left: 7px solid lightseagreen;
    padding-left:5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 900;
    font-size: 14px;
}

.template-item1 .table-left-col{
    padding: 10px 0px;
}

.template-item1 .table-right-col{
    background-color: var(--template-item1-lighter-background);
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 15px;
    max-width: 200px;
}

.template-item1 .personal-data-item-external{
    padding: 30px;
    padding-top: 0;
    font-size: 12px;
}

.template-item1 .dates-range{
    color: var(--template-item1-font-accent);
    white-space: nowrap;
}

.template-item1 .single-project{
    padding-bottom: 10px;
}

.template-item1 .project-title{
    font-weight: bold;
    font-size: 14px;
    color: var(--template-item1-font-accent);
}

.template-item1 .project-description{
    font-style: italic;
}



.template-item2 .template-background{
    height: 100%;
    width: 230px;
    padding-top: 0.1px;
    z-index: -1;
    position: fixed;  
}

.template-item2{
    padding: 1px 0px 0px 0px;
    height: 100%;
    color: black;
    background-color: white;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: 200;
    position: fixed;
}

.template-item2 header{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--template-item2-font-accent);
}

.template-item2 .table{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
    line-height: 180%;
}


.template-item2 table td{
    min-width: 100px;
    max-width: 300px;
}

.template-item2 .table-left-col{
    padding: 0px 0px;
    width: 300px;
    color: white;
}

.template-item2 .table-left-col .personal-data-item{
    padding-left: 20px;
    padding-right: 5px;
}

.template-item2 .table-right-col{
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 15px;
}



.template-item3{
    padding-top: 1px;
    height: 100%;
}

.template-item4{
    padding-top: 1px;
    height: 100%;
}

