:root {
    --main-bg-color: #41414a;
    --left-navbar-color: #252526;
    --top-navbar-color: lightseagreen; 
    --accent-font-color: #ffe151;
    --accent-font-color-light: #ffefa1;
    --main-padding: 15px;
  }

html, body, .App-container{
    min-height: 100vh;
    overflow: hidden;
  }
  
body{
    margin: 0 auto;
    font-family: sans-serif;
    background-color: var(--main-bg-color);
}

.inner-container{
    background-color: blanchedalmond;
    margin: auto;
    width: 16.2cm;
    height: 21cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }

.inner-container input{
    background: none;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    outline:none;
    border:0;
    width: 500px;
    font-style: inherit;
    font-family: inherit;
}

.navbar-left-container{
    background-color: var(--left-navbar-color);
    width: 20vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
}   

.navbar-left-container .scroll-menu-label{
    margin-top: 20vh;
    align-self: center;
}   

.horizontal-scroll-container{
    background-color: var(--main-bg-color);
    margin: 15px;
}

.color-picker-container{
    align-self: center;
}

.menu-item {
    padding: 0 40px;
    user-select: none;
    cursor: pointer;
    border: none;
  }

  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
    background-color: cadetblue;
  }

.navbar-top-container{
    background-color: var(--top-navbar-color);
    width: 100vw;
    height: 8vh;
    position: absolute;
    display: flex;
    align-items: center;
    color: var(--accent-font-color);
    justify-content: space-between;
    font-size: 20px;
    z-index: 2;
}

.navbar-top-container img{
    margin-left: 1em;
    height: 7vh;
}

.navbar-top-container div, div > button{
    display: flex;
    align-items: center;
    margin-right:1em;
}

.navbar-top-container .icon {
    height: 5vh;
    margin:5px;
}

.navbar-top-container button{
    border:0;
    font-size: 20px;
    background: none;
    color: var(--accent-font-color);
    cursor: pointer;
    outline:none;
}

.navbar-top-container button:hover{
    color: var(--accent-font-color-light);
}

